body {
    font-family: Arial, serif;
    max-width: 890px;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex-grow: 1;
}

.weather-forecast {
    padding: 20px;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
    text-align: center;
}

.error {
    margin-top: 80px;
    align-content: center;
}

.title {
    font-size: 30px;
    color: #04568c;
}

.sub-title {
    font-size: 20px;
    color: #501f1f;
}

h1 {
    color: darkslategray;
    padding: 8px;
    font-size: 64px;
    margin-bottom: 16px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}


input {
    border: 1px solid #cccccc;
    padding: 8px;
}

button {
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px;
}